.repositoriesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.result {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 37px;
}


